#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import BigQuery library

In [2]:
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="./ironhack_service_account_big_query.json"
import six
six.moves.reload_module(six)
client = bigquery.Client()

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

In [4]:
sql="""
SELECT 
    *
FROM
    `bigquery-public-data.stackoverflow.users`
WHERE
    location LIKE '%United Kingdom%'
    """

In [5]:
query_job = client.query(query=sql)
df=query_job.to_dataframe()
df.head(10)

,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,1074,Javache,<p>Hi.</p>\n\n<p>I'm an iOS engineer at Facebo...,None,2008-08-12 10:11:09.847000+00:00,2019-10-21 15:17:18.803000+00:00,"London, United Kingdom",3107,158,21,266,None,http://thinkjavache.be/blog
1,1077,smh,<p>\nEmbedded software engineer.</p>,None,2008-08-12 10:34:56.447000+00:00,2019-09-07 17:19:22.130000+00:00,"Southampton, United Kingdom",1075,148,4,69,None,http://www.bevois.com
2,4397,andygeers,None,None,2008-09-03 13:48:30.233000+00:00,2019-11-29 12:40:30.020000+00:00,"London, United Kingdom",6057,511,12,593,None,http://www.geero.net/
3,5337,J Hunt,<p></p>,None,2008-09-09 09:07:41.840000+00:00,2015-02-19 16:29:45.007000+00:00,United Kingdom,602,1,0,127,None,None
4,6910,Jonathan,<ul><li>Started programming with Visual Basic ...,None,2008-09-15 12:48:35.843000+00:00,2019-11-29 15:15:39.270000+00:00,United Kingdom,21315,897,8,831,https://www.gravatar.com/avatar/592695fec5a951...,http://www.toolan.net
5,33682,James Crowley,"<p>Co-founder at <a href=""http://www.fundapps....",None,2008-11-03 15:43:51.987000+00:00,2019-11-19 17:11:30.080000+00:00,United Kingdom,3218,124,3,448,None,http://www.jamescrowley.net/
6,71376,Matt W,<p>I write code for fun and profit. Sometimes ...,None,2009-02-26 13:19:55.310000+00:00,2019-11-29 10:17:03.160000+00:00,"London, United Kingdom",7101,642,25,655,None,http://springboardpillow.blogspot.com/
7,73789,Perrin255,None,None,2009-03-04 16:50:24.240000+00:00,2019-04-26 14:48:57.903000+00:00,United Kingdom,431,55,0,49,None,None
8,90996,badmanj,None,None,2009-04-15 09:01:26.433000+00:00,2010-04-09 10:31:19.850000+00:00,United Kingdom,178,3,0,51,None,None
9,96167,mikemay,<p>Application Developer\nC#\nJava\nC++\nExcel...,None,2009-04-26 09:16:52.437000+00:00,2019-11-30 05:33:48.040000+00:00,United Kingdom,2245,1309,2,113,https://i.stack.imgur.com/wH4jh.jpg?s=128&g=1,None

In [6]:
df.count()

id                   66832
display_name         66832
about_me             24957
age                      0
creation_date        66832
last_access_date     66832
location             66832
reputation           66832
up_votes             66832
down_votes           66832
views                66832
profile_image_url    44707
website_url          20877
dtype: int64

#### 5. Rename id column to user_id

In [8]:
df=df.rename(columns={'id':'user_id'})
df.head()

,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,1074,Javache,<p>Hi.</p>\n\n<p>I'm an iOS engineer at Facebo...,None,2008-08-12 10:11:09.847000+00:00,2019-10-21 15:17:18.803000+00:00,"London, United Kingdom",3107,158,21,266,None,http://thinkjavache.be/blog
1,1077,smh,<p>\nEmbedded software engineer.</p>,None,2008-08-12 10:34:56.447000+00:00,2019-09-07 17:19:22.130000+00:00,"Southampton, United Kingdom",1075,148,4,69,None,http://www.bevois.com
2,4397,andygeers,None,None,2008-09-03 13:48:30.233000+00:00,2019-11-29 12:40:30.020000+00:00,"London, United Kingdom",6057,511,12,593,None,http://www.geero.net/
3,5337,J Hunt,<p></p>,None,2008-09-09 09:07:41.840000+00:00,2015-02-19 16:29:45.007000+00:00,United Kingdom,602,1,0,127,None,None
4,6910,Jonathan,<ul><li>Started programming with Visual Basic ...,None,2008-09-15 12:48:35.843000+00:00,2019-11-29 15:15:39.270000+00:00,United Kingdom,21315,897,8,831,https://www.gravatar.com/avatar/592695fec5a951...,http://www.toolan.net

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

In [10]:
sql="""
SELECT 
    id, owner_user_id, score, view_count, comment_count, favorite_count
FROM
    `bigquery-public-data.stackoverflow.stackoverflow_posts`
WHERE
    view_count<=20
    """
query_job = client.query(query=sql)
df_sp=query_job.to_dataframe()
df_sp.head(10)

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  23154134            NaN      1          20              0             NaN
1  37516574            NaN      0           7              0             NaN
2  37319831            NaN      1          18              0             NaN
3  31140287            NaN      1          16              3             NaN
4  36546336            NaN      0           8              0             NaN
5  37135854            NaN      0          12              0             NaN
6   1555629            NaN      0          20              0             NaN
7  36321359            NaN      0          18              0             NaN
8  36544553       846347.0      0          12              0             NaN
9  24160601       837501.0      0          12              0             NaN

#### 7. Rename id column to post_id and owner_user_id to user_id

In [11]:
df_sp=df_sp.rename(columns={'id':'post_id','owner_user_id':'user_id'})
df_sp.head()

    post_id  user_id  score  view_count  comment_count  favorite_count
0  23154134      NaN      1          20              0             NaN
1  37516574      NaN      0           7              0             NaN
2  37319831      NaN      1          18              0             NaN
3  31140287      NaN      1          16              3             NaN
4  36546336      NaN      0           8              0             NaN

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [14]:
user_id=df[['user_id', 'reputation', 'views' , 'up_votes','down_votes']]
post_id=df_sp[['post_id', 'score', 'user_id', 'view_count' ,'comment_count']]

In [15]:
user_id.head()

   user_id  reputation  views  up_votes  down_votes
0     1074        3107    266       158          21
1     1077        1075     69       148           4
2     4397        6057    593       511          12
3     5337         602    127         1           0
4     6910       21315    831       897           8

In [16]:
post_id.head()

    post_id  score  user_id  view_count  comment_count
0  23154134      1      NaN          20              0
1  37516574      0      NaN           7              0
2  37319831      1      NaN          18              0
3  31140287      1      NaN          16              3
4  36546336      0      NaN           8              0

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [17]:
pd_merge=pd.merge(user_id, post_id,on='user_id').head()
pd_merge.head()

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,33682,3218,448,124,3,31383344,0,11,0
1,148381,9331,800,509,158,34420509,0,19,0
2,385390,717,91,15,2,37756554,0,9,0
3,1010198,412,141,19,0,36489861,0,16,0
4,1010198,412,141,19,0,33721783,0,15,0

#### 9. How many missing values do you have in your merged dataframe?

In [18]:
null_cols= pd_merge.isnull().sum()
null_cols

user_id          0
reputation       0
views            0
up_votes         0
down_votes       0
post_id          0
score            0
view_count       0
comment_count    0
dtype: int64

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [29]:
cols=list(pd_merge._get_numeric_data().columns)
cols.remove('user_id')
cols.remove('post_id')
print(cols)

['reputation', 'views', 'up_votes', 'down_votes', 'score', 'view_count', 'comment_count']

In [32]:
stats = pd_merge.describe().transpose()
stats['IQR']=stats['75%']-stats['25%']
outliers = pd.DataFrame(columns=pd_merge.columns)
for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = pd_merge[(pd_merge[col] < lower) |
                   (pd_merge[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

C:\Users\Kalilu\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [35]:
outliers.to_csv('outliers.csv')